* {
  width: 0;
  height: 0;
  border: none;
}

body {
  background-color: #202124;
  margin: auto;
}

.maincontain {
  font-size: 48px;
  color: #fff;
  text-align: center;
  margin-top: 195px;
  margin-left: 700px;
}

.searchnav {
  margin-top: 150px;
}

.searchbar {
  width: 632px;
  height: 50px;
  border-radius: 50px;
  margin-left: -101px;
}

.searchbtn {
  width: 100px;
  height: 50px;
}

.h1logo {
  margin-left: 75px;
}

.mic {
  color: white;
}

.cameraicon {
  width: 41px;
  height: 41px;
  margin-left: 469px;
  margin-top: 15px;
}

.googlesearchbtn {
  width: 125px;
  height: 38px;
  background-color: #303134;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 80px;
  cursor: pointer;
  display: block;
  margin-left: 77px;
}

.googlesearchbtn:hover {
  border: 1px solid gray;
}

.googlesearchbtn2 {
  width: 125px;
  height: 38px;
  background-color: #303134;
  color: #ffffff;
  border-radius: 5px;
  margin-top: -38px;
  cursor: pointer;
  display: block;
  margin-left: 214px;
}

.googlesearchbtn2:hover {
  border: 1px solid gray;
}
